@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.nav-pills > li > a {
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  color: #0069C3;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.workblock {
  margin-bottom: 4vh;
}

.profile {
  margin-top: 8vh;
}

#hero {
  text-align: center;
  background-color: #ffffff;
  height: 90vh;
  margin-top: 10vh;
}

#mainLogo {
  height: 100px;
  width: 100px;
}

#downArrow {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

#work {
  padding-top: 8vh;
  height: 50vh;
}

.workImage {
  height: 100px;
  width: 100px;
  margin-bottom: 25px;
}

.workText {
  font-size: 16px;
  font-weight: bold;
}

#skills {
  height: 50vh;
}

#skillsTitle {
  margin-top: 12vh;
}

.bs-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-top-width: .25rem;
  border-radius: .25rem;
  border-top-color: #0069C3;
}

#projects {
  height: 100vh;
}

.collapseLink:hover, .collapseLink:visited, .collapseLink:link, .collapseLink:active {
  text-decoration: none;
}

.panel-default > .panel-heading-custom {
  border: 1px solid #eee;
  border-bottom-width: .25rem;
  border-radius: .25rem;
  border-bottom-color: #0069C3;
}

#ojoScreen {
  height: 365px;
  width: 220px;
}

#turnkeyScreen {
  height: 400px;
  width: 217px;
}

#team {
  margin-bottom: 50px;
  margin-top: 50px; 
  height: 95vh;
}

#jcieslikImage {
  height: 125px;
  width: 110px;
}

#gwhelanImage {
  height: 125px;
  width: 125px;
}

#hroederImage {
  height: 125px;
  width: 125px;
}

#jtorreImage {
  height: 125px;
  width: 130px;
}

#tmerkleImage {
  height: 130px;
  width: 125px;
}

#avhoeneImage {
  height: 125px;
  width: 125px;
}

#contact {
  margin-bottom: 50px;
  margin-top: 50px;
}

.contactMargin {
  margin-bottom: 50px;
}

.contactParagraph {
  font-size: 20px;
}

.contactIcons {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

#twitterIcon {
  filter: brightness(0%);
}

/*sticky footer*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Source Code Pro", monospace!important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d3d3d3;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
