#hero {
  text-align: center;
  background-color: #ffffff;
}

#mainLogo {
  height: 100px;
  width: 100px;
}

#navBar {

}

.work {
  height: 100px;
  width: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.workText {
  font-size: 16px;
  font-weight: bold;
}

#team {
  margin-bottom: 50px;
  margin-top: 50px; 
}

.portraits {
  height: 125px;
  width: 100px;
}

#contact {
  margin-bottom: 50px;
  margin-top: 50px;
}

/*sticky footer*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif!important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d3d3d3;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}